.formContainer {
  width: 100%;
}
.userType {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 281px;
  height: 40px;
  padding: 3px;
  border: 1px solid var(--color-scheme-4-border);
  border-radius: 100px;
  background-color: var(--color-scheme-4-background);
}

.userType label {
  position: relative;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.userType input {
  position: absolute;
  opacity: 0;
}

.userType span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 0;
  height: 32px;
  padding: 0 8px;

  border: 1px solid transparent;
  border-radius: 100px;

  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;

  color: var(--color-scheme-4-text);
}

.userType input:checked + span {
  background-color: var(--color-scheme-4-foreground);
  border-color: var(--color-scheme-4-border);
  font-weight: 500;

  box-shadow: 0 1px 2px var(--opacity-neutral-darkest-10);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .form {
    gap: 23px;
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldGroup label {
  font-size: 14px;
  line-height: 1.4;
}

.input {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;
  color: var(--color-scheme-1-text);
  padding: 8px 16px;

  border: 1px solid var(--color-scheme-1-border);
  border-radius: 32px;

  background: var(--opacity-transparent);

  font-size: 16px;
  line-height: 1.5;

  outline: none;
}

.input::placeholder {
  color: var(--color-neutral);
}

.input:focus {
  border-color: var(--color-scheme-1-accent);
}

.inputError,
.inputError:focus {
  border-color: var(--color-red);
  color: var(--color-red);
}

.errorMessage {
  display: block;

  padding-left: 16px;

  font-size: 14px;
  line-height: 1.4;
  color: var(--color-red);
}

.button {
  width: 100%;
  height: 40px;

  border: 1px solid transparent;
  border-radius: 32px;

  background-color: var(--color-curious-blue);
  color: var(--color-white);

  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
}

.button:hover,
.button:focus {
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-curious-blue);
  border-radius: 100px;
  background: var(--color-curious-blue-lighter);
}

.button:active {
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-curious-blue);
  border-radius: 100px;
  padding-block: 6px;
  background: var(--color-curious-blue-light);
}

.button:disabled {
  border: 1px solid var(--color-curious-blue);
  border-radius: 100px;
  background: var(--color-curious-blue);
  opacity: 0.3;
  cursor: not-allowed;
}
@media screen and (min-width: 1920px) {
  .fieldGroup label {
    font-size: 15px;
  }

  .input {
    height: 44px;
    font-size: 17px;
  }

  .button {
    height: 44px;
    font-size: 17px;
  }
}
