.wrapper {
  width: 100%;
  margin-bottom: 48px;
}

.title {
  margin: 0 0 16px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);
}

/* LIST */

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* CARD */

.card {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 24px;
  border-radius: 32px;
  background-color: var(--color-scheme-4-foreground);
}

.cardContent {
  flex: 1;
  min-width: 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-bottom: 8px;

  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.vacancyTitle {
  margin: 0 0 12px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;

  color: var(--color-scheme-1-text);
}

.description {
  display: -webkit-box;
  overflow: hidden;

  margin: 0 0 12px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  color: var(--color-scheme-1-text);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.salary {
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;

  color: var(--color-scheme-1-text);
}

/* RIGHT SIDE */

.cardActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
}

.companyName {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
}

.closeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;

  border: none;
  border-radius: 24px;

  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;
}

.closeButton:disabled {
  cursor: default;
}

/* SHOW MORE */

.showMoreButton {
  display: block;
  width: fit-content;
  margin: 24px auto 0;
  padding: 10px 24px;
  border: none;
  border-radius: 24px;
  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;
}

/* EMPTY STATE */

.empty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  border-radius: 24px;
  background-color: var(--color-scheme-4-foreground);
}

.emptyTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.emptyText {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.createButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 287px;
  height: 33px;
  padding: 6px 12px;
  border-radius: 100px;
  border: 1px solid var(--color-curious-blue);
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 14px;
  background-color: var(--color-curious-blue);
  opacity: 100%;
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    opacity var(--transition);
}

.createButton:hover,
.createButton:focus {
  background-color: var(--color-curious-blue-lighter);
  border-color: var(--color-curious-blue);
  color: var(--color-scheme-1-text);
}

.createButton:active {
  background-color: var(--color-curious-blue-light);
  border-color: var(--color-curious-blue);
  color: var(--color-scheme-1-text);
}

.createButton:disabled {
  background-color: var(--color-curious-blue);
  opacity: 0.3;
  border-color: var(--color-curious-blue);
  color: var(--color-white);
}

/* MOBILE */

@media (max-width: 767px) {
  .title {
    margin-bottom: 16px;
  }

  .list {
    gap: 16px;
  }

  .card {
    flex-direction: column;
    gap: 16px;
  }

  .meta {
    gap: 16px;
  }

  .vacancyTitle {
    font-size: 18px;
  }

  .cardActions {
    align-items: stretch;
    gap: 16px;
  }

  .companyName {
    order: -1;
  }

  .closeButton {
    width: 100%;
  }

  .showMoreButton {
    width: 100%;
  }

  .empty {
    padding: 24px;
  }

  .createButton {
    width: 100%;
  }
}
