.heroSection {
  background: var(--color-scheme-4-background);
}

.heroSection .container {
  display: flex;
  flex-direction: column;
  min-height: 749px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  padding-bottom: 48px;

  background-image: image-set(
    url('/images/webp/hero-mobile@1x.webp') 1x,
    url('/images/webp/hero-mobile@2x.webp') 2x,
    url('/images/jpeg/hero-mobile@1x.jpeg') 1x,
    url('/images/jpeg/hero-mobile@2x.jpeg') 2x
  );
  @media only screen and (min-width: 768px) {
    background-image: image-set(
      url('/images/webp/hero-tablet@1x.webp') 1x,
      url('/images/webp/hero-tablet@2x.webp') 2x,
      url('/images/jpeg/hero-tablet@1x.jpeg') 1x,
      url('/images/jpeg/hero-tablet@2x.jpeg') 2x
    );
  }
  @media only screen and (min-width: 1440px) {
    background-image: image-set(
      url('/images/webp/hero-pc@1x.webp') 1x,
      url('/images/webp/hero-pc@2x.webp') 2x,
      url('/images/jpeg/hero-pc@1x.jpeg') 1x,
      url('/images/jpeg/hero-pc@2x.jpeg') 2x
    );
  }
}

.box {
  margin-top: auto;
  border-radius: 32px;
  padding: 32px 20px;
  width: 100%;
  background: var(--color-scheme-4-foreground);

  @media only screen and (min-width: 768px) {
    padding: 32px 40px;
  }
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;

  @media only screen and (min-width: 1440px) {
    font-size: 56px;
  }
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;

  @media only screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
