.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  text-overflow: ellipsis;

  max-width: 327px;
  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 750px;
  }
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  box-orient: vertical;

  text-overflow: ellipsis;

  color: var(--color-scheme-1-text);

  margin-bottom: 8px;
}

.location {
  font-size: 12px;
}

.salary {
  font-size: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 24px;
}

.removeButton {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  padding: 6px 12px;

  border-radius: 100px;
  border: 1px solid var(--color-neutral-darkest);
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  transition: var(--transition);
}

.removeButton:hover,
.removeButton:focus-visible {
  background-color: var(--color-scheme-4-background);
}

.removeButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .removeButton {
    font-size: 16px;
  }
}

.image {
  width: 157px;
  height: 67px;
  object-fit: cover;
}
