.login-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.login-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-image {
  display: none;
}

@media screen and (min-width: 1440px) {
  .login-page {
    height: 100vh;
    min-height: 900px;
  }

  .login-page-container {
    width: 50%;
    min-height: 900px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .login-image {
    display: block;
    width: 40%;
    object-fit: cover;
  }
}
