@import 'tailwindcss';

@theme {
  --font-sans: var(--font-roboto), Arial, Helvetica, sans-serif;

  --breakpoint-desktop: 90rem;

  --color-primary: #3498db;
  --color-primary-light: #d6eaf7;
  --color-primary-active: #70b6e5;
  --color-secondary-active: #2979af;
  --color-card: #eaf4fb;
  --color-error: #c80000;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-sans);
}
